<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lh.com.mapper.BookMapper">
    <select id="booklist" resultType="lh.com.pojo.Book">
    select * from book
    </select>
    <select id="bookget" parameterType="int" resultType="lh.com.pojo.Book">
        select * from book where id=#{id}
    </select>
    <insert id="bookadd" parameterType="lh.com.pojo.Book">
        insert into book values(#{id},#{name},#{author},#{price},#{sales},#{stock})
    </insert>
    <update id="bookupdate" parameterType="lh.com.pojo.Book" >
        update book set name=#{name},author=#{author},price=#{price},sales=#{sales},stock=#{stock} where id=#{id}
    </update>
    <delete id="bookdelete" parameterType="int">
        delete from book where id=#{id}
    </delete>
</mapper>